.productContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 30px;
  padding: 20px;
  margin-left: 20px;
}

@media (max-width: 1200px) {
  .productContainer {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for large screens */
    margin: 0px;
  }
}

@media (max-width: 900px) {
  .productContainer {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
    margin: 0px;
  }
}

@media (max-width: 600px) {
  .productContainer {
    grid-template-columns: 1fr; /* 1 column for small screens */
    margin: 0px;
  }
}
