.footer {
  padding: 2rem;
  background-color: black;
  color: #ffffff;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.logoContainer {
  flex: 4; /* Let the logo container take up space on the left */
  text-align: left;
}

.footerContent {
  flex: 1; /* Take up the remaining space */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.socialIcons {
  display: flex;
  gap: 1.5rem;
}

.socialIcon {
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.socialIcon:hover {
  color: #ff6f61;
  transform: scale(1.2);
}

.footer p {
  margin: 0;
  font-size: 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1dd070;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
}
