.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.startButton {
  padding: 15px 30px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #1dd070;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Hover states */
.startButton:hover {
  background-color: #17b865;
  transform: translateY(-5px);
}

/* Active states */
.startButton:active {
  transform: translateY(-2px);
}

/* Focus states */
.startButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(29, 208, 112, 0.5);
}
